<div class="col-xs-8 col-xs-offset-2">
  <h1>Chat</h1>
  <div id='messagesDiv' class="well chat-room"></div>
  <input type='text' id='nameInput' placeholder='Name' value="阿嬤">
  <input type='text' id='messageInput' placeholder='Message'>
</div>
<%= javascript_include_tag 'pages/chat.js', :cache => true %>