<div class="col-md-offset-2 col-md-6 home">
  <header>
    <h1>歡迎來到阿嬤雲</h1>
    <div id="gmTalk"></div>
    <%= image_tag "https://ed038d6765bee7fe127f73ed53bc6f6e8900d73d.googledrive.com/host/0B_8CuuG9OgYzTElFeVRWaVd4TDg/ama-logo.png", size: "300x250",class: "img-circle home-logo" %>
    
    <p>你今天想聊什麼呢？</p>
    <% @skills.each do |skill| %>
    <%= link_to skill.name, skill, class: "btn btn-default"%>
    <% end %>
  </header>
  <%= javascript_include_tag 'pages/logo.js' %>
</div>