<div class="col-md-offset-2 col-md-6 home">
  <header>

  <h1>阿嬤雲</h1>
  <p>你今天想聊什麼呢？</p>
  <% @skills.each do |skill| %>
    <%= link_to skill.name, skill, class: "btn btn-default"%>
  <% end %>
  </header>
  <%= fa_icon "phone" %>
  <%= link_to "我就是阿嬤", chat_room_path, clas: "btn btn-info" %>
</div>