
<div class="input-container col-md-4">
  <div class="alert alert-danger fade in">
  <button class="close" data-dismiss="alert">×</button>
    很抱歉，你尚未加入阿嬤雲會員，<br>
    試用版會員只能與阿嬤進行文字交流
  </div> 
  <input type='text' id='nameInput' placeholder='Name' value="Denny" class="form-control" disabled="disabled">
  <input type='text' id='messageInput' placeholder='Message' class="form-control floating-label">
  </div>
<div class="col-md-8 user-chat">
  <h1>Chat</h1>
  <div id='messagesDiv' class="well chat-room"></div>
</div>
<%= javascript_include_tag 'pages/chat.js', :cache => true %>