 <div class="col-md-8 col-md-offset-4">
   <h2>謝謝你為阿嬤雲的付出！</h2>
   <%= image_tag "https://ed038d6765bee7fe127f73ed53bc6f6e8900d73d.googledrive.com/host/0B_8CuuG9OgYzTElFeVRWaVd4TDg/ama-logo.png" %>
   <h3>Bye Bye</h3>
 </div>