// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home{
  margin-top: 10%;
  background-image: url('home-cloud.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 20 5;
  height: 100vh;
  text-align: center;
  header{
    font-size: 2rem;
    margin-top: 80px;
    color: white;
  }
  a{
    color: white !important;
  }
}