// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home-body{
  background-image: url('https://ed038d6765bee7fe127f73ed53bc6f6e8900d73d.googledrive.com/host/0B_8CuuG9OgYzTElFeVRWaVd4TDg/home-cloud-2.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
.home{
  margin-top: 10%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 20 5;
  height: 100vh;
  text-align: center;
  header{
    font-size: 2rem;
    margin-top: 80px;
    color: black;
  }
  a{
    color: black !important;
  }
  .btn{
    font-size: 3rem;
    &:hover{
      background: white;
    }
  }

}